@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

html{
    font-family: "Oxygen";
    background: #012831;
}

table {
    background-color: #F7C89B;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}